body {
  color: #000000;
  background: white;
  width: 100vw;
  overflow-x: hidden;
}
body *:not(i) {
  font-family: Arial, Helvetica, sans-serif important;
}
h1,
h2,
h3,
h4 {
  font-family: 'Conture Script W01 Regular', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #1f5d1b;
  padding: 1rem 0;
}
h1 {
  font-size: 5rem;
  font-weight: normal;
  margin-top: 2rem!important;
}
h2 {
  font-size: 5rem;
  font-weight: normal;
  margin-top: 1rem!important;
}
.ccont {
  text-align: center;
}
a {
  color: #1f5d1b;
}
@media (max-width: 767px) {
  .ui.container.fluid {
    margin: 0!important;
  }
}
main {
  width: 100vw;
  overflow: hidden;
}
#slider {
  width: 100vw;
  height: 100vh;
  border-bottom: 1px solid #cecab5;
}
#slider li {
  width: 100vw;
}
header {
  position: fixed;
  z-index: 10;
  top: 80px;
  background: #1f5d1b;
  height: 60px;
  width: 100vw;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
header .container {
  position: relative;
  height: 100%;
  display: flex!important;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  header {
    min-height: 15vh;
    padding: 0;
  }
  header #desktopnav {
    display: none!important;
  }
  header #mobilenav {
    display: block!important;
  }
  header #mobilenav > .container {
    position: relative;
    height: 100%;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
  }
  header #mobilenav > .container i {
    color: #1f5d1b !important;
    font-size: 1.5rem!important;
    line-height: 1.5rem!important;
  }
  header #mobilenav > .container .ui.basic.button {
    border: none!important;
    box-shadow: none!important;
  }
  header #mobilenav #headermenu {
    max-height: 0px;
    margin-bottom: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    justify-content: center;
  }
  header #mobilenav #headermenu.vis {
    margin-bottom: 1rem;
    max-height: 100px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  header .logo {
    height: 20vh;
    margin-bottom: -2vh;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  header .logo.scrolled {
    height: 10vh;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  header.scrolled {
    min-height: 8vh;
    -webkit-box-shadow: 0px 0px 20px 0px #7a7a7a;
    -moz-box-shadow: 0px 0px 20px 0px #7a7a7a;
    box-shadow: 0px 0px 20px 0px #7a7a7a;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
}
@media (min-width: 767px) {
  header {
    height: 60px;
    padding: 0;
  }
  header .logo {
    height: 200px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    margin-top: -70px;
  }
  header .logo.scrolled {
    height: 90px;
    margin-top: -25px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  header.scrolled {
    top: 20px;
    height: 40px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  header.scrolled .headermenuitem {
    line-height: 40px!important;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  header #desktopnav {
    display: block!important;
  }
  header #mobilenav {
    display: none!important;
  }
}
@media (min-width: 767px) and (max-width: 767px) {
  header.scrolled {
    height: 10vh;
  }
}
header #headermenu {
  display: flex;
  justify-content: center;
  flex-wrap: none;
  width: 100%;
}
header #headermenu #lhm {
  display: flex;
  justify-content: flex-end;
}
header #headermenu #chm {
  width: 227px;
  text-align: center;
}
header #headermenu #rhm {
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
}
header #headermenu .headermenuitem {
  line-height: 60px;
  color: #cecab5;
  padding: 0 2rem 0 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
header #headermenu .headermenuitem:hover {
  color: white;
}
header #headermenu .headermenuitem.active {
  color: white;
}
header #headermenu .headermenuitem:last-child {
  padding: 0;
}
footer {
  display: flex!important;
  padding: 0 2rem;
  justify-content: flex-end;
  background: #1f5d1b;
}
@media (max-width: 767px) {
  footer {
    padding: 0 1rem;
    flex-wrap: wrap;
  }
}
footer > a {
  color: #cecab5 !important;
  padding: 1rem 0 1rem 1rem;
}
@media (max-width: 767px) {
  footer > a {
    padding: 1rem 0;
  }
}
footer .footermenu {
  display: flex!important;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  footer .footermenu {
    flex-wrap: wrap;
  }
}
footer .footermenu a {
  color: #cecab5 !important;
  padding: 1rem 0 1rem 1rem;
}
@media (max-width: 767px) {
  footer .footermenu a {
    padding: 0.25rem 0.5rem 0.25rem 0 ;
    line-height: 1.2rem;
  }
  footer .footermenu a:after {
    display: none;
  }
}
footer .footermenu a:after {
  content: '|';
  margin-left: 1rem;
}
footer .footermenu a:last-child:after {
  content: '';
}
.lic {
  height: 1rem;
  width: 1rem;
  background: url(/listicon.png) center center no-repeat;
  background-size: contain;
}
#home h1 {
  font-size: 7rem;
}
#home #intro {
  padding: 1.5rem 0;
}
#home #intro #intro_content {
  color: #1f5d1b;
  text-align: center;
}
#home #intro #ics {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#home #intro #ics .lic {
  margin: 0 0.5rem;
}
#home .kontakt {
  background: #cecab5;
  margin-top: 2rem;
  color: #1f5d1b;
}
#home .kontakt .column.map {
  padding: 0!important;
}
#home .kontakt .column.content {
  padding: 4rem!important;
}
#home .kontakt h2 {
  text-align: left;
}
#home .kontakt ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}
#home .kontakt li {
  list-style-type: none;
  margin-bottom: 4rem;
}
#home .kontakt li:first-child {
  margin-right: 8rem;
}
.anfbutton {
  background: #1f5d1b;
  color: #cecab5;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.1rem;
}
.anfbutton:hover {
  color: white;
}
.appcol img {
  width: calc(98%);
  margin-left: 2rem;
}
.appcol .info {
  border: 1px solid #1f5d1b;
  padding: 1rem 1rem 1rem 2rem;
  margin: -2.5rem 3rem 0 0;
  z-index: 9;
}
.appcol .info h4 {
  margin-top: 1rem!important;
  font-family: Arial, Helvetica, sans-serif !important;
  text-align: left;
}
.appcol .bwrap {
  display: flex;
  justify-content: flex-end;
}
.appcol .appbutton {
  background: #cecab5 !important;
  color: #1f5d1b;
  padding: 0.5rem 1.25rem;
}
.sub .titlewrap {
  background: #cecab5;
  margin-bottom: 3rem;
}
.sub .titlewrap h1 {
  font-size: 8rem;
  margin: 0!important;
}
.sub.cat .othercats {
  padding: 3rem 0;
}
.sub.cat h2 {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 0 0 2rem 0!important;
  text-align: left!important;
  font-size: 1.8rem;
}
.sub.cat .content {
  color: #1f5d1b;
  position: relative;
}
.sub.cat .content strong {
  font-size: 1.2rem;
}
.sub.cat .content ul {
  margin: 0;
  padding: 0;
}
.sub.cat .content li {
  list-style-type: none;
  padding-left: 25px;
  background: url(/listicon.png) left 0.7rem no-repeat;
  background-size: 1rem;
  line-height: 3rem;
}
.sub.cat .content li p {
  line-height: 2rem;
}
.sub.cat .content .anfbutton {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}
.sub.cat .content .pbox {
  clear: both;
  float: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.sub.cat .content .pbox .price {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.imggal img {
  cursor: pointer;
}
.imggal .bimg {
  max-width: 100%;
}
.imggal .simg {
  width: 32%;
  margin-bottom: 2%;
}
.imggal .imggalcol {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
