@green:rgb(31,93,27);
@beige:rgb(206,202,181);
@fontcolor:rgb(0,0,0);

body{
  color:@fontcolor;
  *:not(i){
    font-family: Arial, Helvetica, sans-serif important;
  }
  background:white;
  width:100vw;
  overflow-x:hidden;
}
h1,h2,h3,h4{
  font-family: 'Conture Script W01 Regular',Arial, Helvetica, sans-serif;
  text-align:center;
  color:@green;
  padding:1rem 0;
}
h1{
  font-size:5rem;
  font-weight:normal;
  margin-top:2rem!important;
}
h2{
  font-size:5rem;
  font-weight:normal;
  margin-top:1rem!important;
}
.ccont{
  text-align:center;
}
a{
  color:@green;
}
main{
  
}
@media (max-width: 767px){
  .ui.container.fluid{
    margin:0!important;
  }
}
main{
  width:100vw;
  overflow:hidden;
}
#slider{
  width:100vw;
  height:100vh;
  li{
    width:100vw;
  }
  border-bottom:1px solid @beige;
}
header{
  .container{
    position:relative;
    height:100%;
    display:flex!important;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 767px){
    #desktopnav{
      display:none!important;
    }
    #mobilenav{
      display:block!important;
      > .container{
        position:relative;
        height:100%;
        display:flex!important;
        justify-content: space-between;
        align-items: center;
        i{
          color:@green!important;
          font-size:1.5rem!important;
          line-height:1.5rem!important;
        }
        .ui.basic.button{
          border:none!important;
          box-shadow:none!important;
        }
      }
      #headermenu{
        max-height:0px;
        margin-bottom:0;
        overflow:hidden;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        justify-content: center;
        &.vis{
          margin-bottom:1rem;
          max-height:100px;
          transition-property: all;
          transition-duration: 0.5s;
          transition-timing-function: ease-in-out;
        }
      }
    }
    min-height:15vh;
    padding:0;
    .logo{
      height:20vh;
      margin-bottom:-2vh;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      &.scrolled{
        height:10vh;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
      }
    }
    &.scrolled{
      min-height:8vh;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(122,122,122,1);
      -moz-box-shadow: 0px 0px 20px 0px rgba(122,122,122,1);
      box-shadow: 0px 0px 20px 0px rgba(122,122,122,1); 
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
    }
  }
  @media (min-width: 767px){
    height:60px;
    padding:0;
    .logo{
      height:200px;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      margin-top:-70px;
      &.scrolled{
        height:90px;
        margin-top:-25px;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
      }
    }
    &.scrolled{
      top:20px;
      height:40px;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      .headermenuitem{ 
        line-height:40px!important;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
      }
      @media (max-width: 767px){
        height:10vh;
      }
    }
    #desktopnav{
      display:block!important;
    }
    #mobilenav{
      display:none!important;
    }
  }
  
  position:fixed;
  z-index:10;
  top:80px;
  background:@green;
  height:60px;
  width:100vw;
  transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  #headermenu{
    display:flex;
    justify-content: center;
    flex-wrap: none;
    width:100%;
    #lhm{
      display:flex;
      justify-content: flex-end;
    }
    #chm{
      width:227px;
      text-align:center;
    }
    #rhm{
      display:flex;
      justify-content: flex-start;
      padding-left:1rem;
    }
    .headermenuitem{ 
      line-height:60px;
      color:@beige;
      &:hover{
        color:white;
      }
      &.active{
        color:white;
      }
      padding:0 2rem 0 0;
      &:last-child{
        padding:0;
      }
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
    }
  }
}

footer{
  display:flex!important;
  padding:0 2rem;
  justify-content: flex-end;
  background:@green;
  @media (max-width: 767px){
    padding:0 1rem;
    flex-wrap: wrap;
  }
  > a{
    color:@beige!important;
    padding:1rem 0 1rem 1rem;
    @media (max-width: 767px){
      padding:1rem 0;
    }
  }
  .footermenu{
    display:flex!important;
    justify-content: flex-end;
    @media (max-width: 767px){
      flex-wrap: wrap;
    }
    a{
      color:@beige!important;
      padding:1rem 0 1rem 1rem;
      @media (max-width: 767px){
        padding:0.25rem 0.5rem 0.25rem 0 ;
        line-height:1.2rem;
        &:after{
          display:none;
        }
      }
      &:after{
        content:'|';
        margin-left:1rem;
      }
      &:last-child{
        &:after{
          content:''
        }
      }
    }
  }
}
.lic{
  height:1rem;
  width:1rem;
  background:url(/listicon.png)center center no-repeat;
  background-size:contain;
}
#home{
  h1{
    font-size:7rem;
  }
  #intro{
    padding:1.5rem 0;
    #intro_content{
      color:@green;
      text-align:center;
    }
    #ics{
      display:flex;
      justify-content:center;
      margin-bottom:1rem;
      .lic{
        margin:0 0.5rem;
      }
    }
  }
  .kontakt{
    background:@beige;
    margin-top:2rem;
    color:@green;
    .column.map{
      padding:0!important;
    }
    .column.content{
      padding:4rem!important;
    }
    h2{
      text-align:left;
    }
    ul{
      padding:0;
      margin:0;
      display:flex;
      justify-content: flex-start;
    }
    li{
      list-style-type: none;
      &:first-child{
        margin-right:8rem;
      }
      margin-bottom:4rem;
    }
    .anfbutton{
      background:@green;
      color:@beige;
      padding:0.75rem 1.5rem;
      font-size:1.5rem;
      text-transform: uppercase;
      font-weight:200;
      letter-spacing: 0.1rem;
    }
  }
}
.appcol{
  img{
    width:calc(100% - 2rem);
    margin-left:2rem;
  }
  .info{
    border:1px solid @green;
    padding:1rem 1rem 1rem 2rem;
    margin:-2.5rem 3rem 0 0;
    z-index:9;
    h4{
      margin-top:1rem!important;
      font-family: Arial, Helvetica, sans-serif!important;
      text-align:left;
    }
  }
  .bwrap{
    display:flex;
    justify-content: flex-end;
  }
  .appbutton{
    background:@beige!important;
    color:@green;
    padding:0.5rem 1.25rem;
  }
}